/* this is the about page css below */
.pic {
    display: inline-block;
    height: 120px;
    border: dotted 12px darkgoldenrod;
    margin-left: 290px;
}

.bkgd {
    background-color: rgb(112, 59, 165);
}

.abouth1 {
    color: burlywood;
    text-align: center;
    font-family: fantasy
}

.abouth2 {
    color: burlywood;
    font-family: fantasy
}

nav {
    text-align: end;
    color: purple;
    background-color: lavenderblush;
}

.abouttb1 {
    color: antiquewhite;
}

.abouttb2 {
    color: antiquewhite;
}

.creative {
    color: burlywood;    display: inline-block;
}

.tech {
    color: burlywood;    display: inline-block;
}

.flex {
    display: flex;
    justify-content: space-between
}

.name {
    margin-left: 10px;
    
}/* this is the portfolio css page below */

.title {
    color: burlywood;
    text-align: center;
    font-family: fantasy
}

.portbody {
    background-color: blueviolet;
}

.port1 {
    text-align: center;
    color: burlywood;
    font-size: xx-large;
    font-family: fantasy
}

.wrap {
    text-align: center;
}

.pad {
    padding: 10px;
} 

.proj {
    color: white;
    text-align: center;
    font-style: italic;
}

.p {
    color: burlywood;    display: inline-block;
}

.propics {
    height: 100px;
    width: 100px;
}







}

/* this is the index/home page css below */
.pic2 {
    height: 120px;
    border: dotted 12px darkgoldenrod;
    margin-top: 10px;
    margin-left: 1018px;

}

body {
    background-color: rgb(112, 59, 165);
}

.indexh1 {
    color: burlywood;
    text-align: center;
    font-family: fantasy
}

.indexh2 {
    text-align: center;
    color: burlywood;
    font-size: xx-large;
    font-family: fantasy
}

nav {
    text-align: end;
    color: purple;
    background-color: lavenderblush;
}

table {
    color: antiquewhite;
}

p {
    color: burlywood;    display: inline-block;
}

.indexh3 {
    color: white;
    text-align: center;
    font-style: italic;
}

/* this is the contact me css page below */

.contact {
    color: burlywood;
    text-align: center;
    font-size: 40px; 
    font-family: fantasy
}

.p4 {
    background-color: rgb(130, 77, 179);
    text-align: center;
}

.form {
    color: burlywood;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

/* this is the success css page below  */
.info {
    padding: 100px;
    margin: 100px;
}

.successh1 {
    color: burlywood;
    text-align: center;
    font-family: fantasy
}

.successh2 {
    text-align: center;
}

